{% extends "main.html" %}
{% block content %}
<div class = 'display-catalog'>
	<div class= 'scrolling-sidebar'>
			{% for c in catalogs %}
				<a href = "{{url_for('showItems', catalog_id = c.id)}}">
					<div >
						<h3>{{c.catalog_name}}</h3>
					</div>
				</a>
			{% endfor %}
	</div>
	<div class= 'content'>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul>
					{% for message in messages %}
						<li> <strong> {{ message }} </strong> </li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
		<div >
    		{% for i in item %}
        	<h3>{{i.item_name}}</h3>
        	<p>{{i.description}}</p>
				<div class='btn-name'>
					<a href="{{url_for('editItem', catalog_id = i.catalog_id, item_id =i.id )}}">
						<button class="btn">
						 	<span class="glyphicon glyphicon-glass" aria-hidden="true"></span>edit
					 	</button>
					</a>
					<a href="{{url_for('deleteItem', catalog_id = i.catalog_id, item_id =i.id )}}">
						<button class="btn">
							<span class="glyphicon glyphicon-glass" aria-hidden="true"></span>delete
						</button>
					</a>
				</div>
     		{% endfor %}
		</div>

	</div>
</div>
{% endblock %}
